<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
        <title>Dashboard | Bridge Monitor</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
    crossorigin=""></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <ul>
        <a href="../"><li>Select</li></a>
    </ul>
</header>

<main>
    <div class="map" id="map">
        <div id="popup"></div>
    </div>
    <div class="search-box">

    </div>
</main>
</body>

<script>
    var map = L.map('map').setView([41.7732004, -99.490343], 7);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(map);

    //Ajax call to backend
    $.ajax({
        url: "/api/getAll",
        method: "GET",
        dataType: "json",
        success: function(data) {
            // Process the received bridge data
            console.log(data); // Assuming the received data is an array of bridge objects

            // Create markers on the map using the received bridge data
            data.forEach(bridge => {
                const marker = L.marker([bridge.lat, -bridge.lng]).addTo(map);
                marker.bindPopup(`Bridge Structure ID: ${bridge.id} <br />Year Built: ${bridge.yearBuilt} <br />Avg Daily Traffic: ${bridge.avgDailyTraffic} veh/day <br />Avg Snowfall: ${bridge.avgSnowfall} in/yr <br />
                    <a href="/${bridge.id}">More info</a>`);
            });
        },
        error: function(xhr, status, error) {
            // Handle any errors that occur during the AJAX call
            console.error("Error fetching bridge data:", error);
        }
        });

</script>
</html>
